<!--<div class="container">-->
<!--<h1> Neue Heizung anlegen </h1>-->
<!--<form id="add-heating">-->
<!--<div>-->
<!--<label for="name">Heizungsname</label>-->
<!--<input type="text" class="form-control" id="name" required [(ngmodel)]="model.name" name="name">-->
<!--</div>-->
<!--<div>-->
<!--<label for="name">Hersteller</label>-->
<!--<input type="text" class="form-control" id="manufacturer" required [(ngmodel)]="model.manufacturer" name="manufacturer">-->
<!--</div>-->
<!--<div>-->
<!--<label for="name">Modell</label>-->
<!--<input type="text" class="form-control" id="modelVariant" required [(ngmodel)]="model.modelVariant" name="modelVariant">-->
<!--</div>-->
<!--<div>-->
<!--<label for="name">Seriennummer</label>-->
<!--<input type="text" class="form-control" id="serialnumber" required [(ngmodel)]="model.serialnumber" name="serialnumber">-->
<!--</div>    <div>-->
<!--<label for="name">Aktuelle Temperatur</label>-->
<!--<input type="text" class="form-control" id="currentTemperature" required [(ngmodel)]="model.currentTemperature" name="currentTemperature">-->
<!--</div>-->
<!--<div>-->
<!--<label for="name">Heizungsname</label>-->
<!--<input type="text" class="form-control" id="actionMode" required [(ngmodel)]="model.actionMode" name="actionMode">-->
<!--</div>-->

<!--&lt;!&ndash;<input type="text" [(ngmodel)]="name">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" [(ngmodel)]="manufacturer">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" [(ngmodel)]="modelVariant">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" [(ngmodel)]="serialnumber">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" [(ngmodel)]="currentTemperature">&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" [(ngmodel)]="actionMode">&ndash;&gt;-->
<!--</form>-->
<!--</div>-->


<div class="container col-md-12">
  <button (click)="logHeatingData()">Log heatingData</button>
  <h2> Heizung anlegen / ändern </h2>
  <div class="col-md-4">
    <form novalidate (ngSubmit)="onSubmit(heating)" [formGroup]="heating">
      <div class="form-group">
        <p>Heizungsname:</p>
        <input type="text" placeholder="{{heatingData?.genericName}}" formControlName="genericName">
      </div>
      <div class="form-group">
        <p>Hersteller:</p>
        <input type="text" placeholder="{{heatingData?.manufacturer.deviceManufacturer_String}}" formControlName="manufacturer">
      </div>
      <div class="form-group">
        <p>Modell:</p>
        <input type="text" placeholder="{{heatingData?.modelVariant.modelVariant_String}}" formControlName="modelVariant">
      </div>
      <div class="form-group">
        <p>Seriennummer:</p>
        <input type="text" placeholder="{{heatingData?.serialnumber}}" formControlName="serialnumber">
      </div>

      <div>
        <button type="submit" (ngSubmit)="onSubmit()" [disabled]="heating.invalid">Eingaben bestätigen</button>
      </div>

    </form>

  </div>
  <div class="col-md-4">
  <img src="../../assets/images/heating-logo.jpg" alt="" class="img-responsive"  style="height: 150px;">
  </div>
</div>

  <!--<div class="col-md-4">-->
    <!--<form novalidate (ngSubmit)="onSubmit(heating)" [formGroup]="heating">-->
    <!--<input type="text" placeholder="{{heatingData?.genericName}}" formControlName="genericName">-->
    <!--<input type="text" placeholder="{{heatingData?.modelVariant.modelVariant_String}}" formControlName="modelVariant">-->
    <!--<input type="text" placeholder="{{heatingData?.manufacturer.deviceManufacturer_String}}" formControlName="manufacturer">-->
    <!--<input type="text" placeholder="{{heatingData?.serialnumber}}" formControlName="serialnumber">-->

      <!--<button type="submit" [disabled]="heating.invalid">Eingaben bestätigen</button>-->
    <!--</form>-->
  <!--</div>-->


  <!--<form novalidate (ngSubmit)="onSubmit(heating)" [formGroup]="heating">-->

    <!--<div class="form-group">-->
      <!--<input type="text" placeholder="{{heatingData?.genericName}}" formControlName="name">-->
      <!--&lt;!&ndash;<input name="name" ngModel required #first="ngModel" [value]="heatingData?.genericName" placeholder="Heizungsname">&ndash;&gt;-->
    <!--</div>-->

    <!--&lt;!&ndash;<div class="error" *ngIf="heating.get('name').hasError('required') && heating.get('name').touched">&ndash;&gt;-->
    <!--&lt;!&ndash;Name is required&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div formGroupName="account">&ndash;&gt;-->
    <!--&lt;!&ndash;<label>&ndash;&gt;-->
    <!--&lt;!&ndash;<span>Email address</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="email" placeholder="Your email address" formControlName="email">&ndash;&gt;-->
    <!--&lt;!&ndash;</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<div&ndash;&gt;-->
    <!--&lt;!&ndash;class="error"&ndash;&gt;-->
    <!--&lt;!&ndash;*ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">&ndash;&gt;-->
    <!--&lt;!&ndash;Email is required&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<label>&ndash;&gt;-->
    <!--&lt;!&ndash;<span>Confirm address</span>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="email" placeholder="Confirm your email address" formControlName="confirm">&ndash;&gt;-->
    <!--&lt;!&ndash;</label>&ndash;&gt;-->
    <!--&lt;!&ndash;<div&ndash;&gt;-->
    <!--&lt;!&ndash;class="error"&ndash;&gt;-->
    <!--&lt;!&ndash;*ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">&ndash;&gt;-->
    <!--&lt;!&ndash;Confirming email is required&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<button type="submit" [disabled]="heating.invalid">Eingaben bestätigen</button>-->
  <!--</form>-->



  <!--<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>-->
  <!--<div class="form-group">-->
  <!--&lt;!&ndash;<label>Heizungsname</label>&ndash;&gt;-->
  <!--<input name="name" ngModel required #first="ngModel" [value]="heatingData?.genericName" placeholder="Heizungsname">-->
  <!--&lt;!&ndash;<input name="name" [name]="model.name" ngModel required #first="ngModel" placeholder="Heizungsname">&ndash;&gt;-->
  <!--&lt;!&ndash;<input name="name" [(ngModel)]="heatingData.name" required #first="ngModel" placeholder="Heizungsname">&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--&lt;!&ndash;<label>Hersteller</label>&ndash;&gt;-->
  <!--<input name="manufacturer" ngModel required #first="ngModel" [value]="heatingData?.manufacturer.deviceManufacturer_String" placeholder="Hersteller">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--&lt;!&ndash;<label>Modell</label>&ndash;&gt;-->
  <!--<input name="modelVariant" ngModel required #first="ngModel" [value]="heatingData?.modelVariant.modelVariant_String" placeholder="Modell">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--&lt;!&ndash;<label>Seriennummer</label>&ndash;&gt;-->
  <!--<input name="serialnumber" ngModel required #first="ngModel" [value]="heatingData?.serialnumber" placeholder="Seriennummer">-->
  <!--</div>-->
  <!--<div class="form-group">-->
  <!--&lt;!&ndash;<label>Aktuelle Temperatur</label>&ndash;&gt;-->
  <!--<input name="currentTemperature" ngModel required #first="ngModel" [value]="heatingData?.currentTemperature.measure_Double" placeholder="Temp. in Celius">-->
  <!--</div>-->
  <!--&lt;!&ndash;<div *ngIf="heatingData?.currentTemperature.unitOfMeasurement_Enum == 'TEMPERATURE_DEGREESCELSIUS'" class="form-group">&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;<label>Aktuelle Temperatur</label>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<input name="currentTemperature" ngModel required #first="ngModel" [value]="heatingData?.currentTemperature.measure_Double" placeholder="Temp. in Celius">&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div *ngIf="heatingData?.currentTemperature.unitOfMeasurement_Enum == 'TEMPERATURE_DEGREESFAHRENHEIT'" class="form-group">&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;<label>Aktuelle Temperatur</label>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<input name="currentTemperature" ngModel required #first="ngModel" [value]="heatingData?.currentTemperature.measure_Double" placeholder="Temp. in Fahrenheit">&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div *ngIf="heatingData?.currentTemperature.unitOfMeasurement_Enum != 'TEMPERATURE_DEGREESCELSIUS' && heatingData?.currentTemperature.unitOfMeasurement_Enum != 'TEMPERATURE_DEGREESFAHRENHEIT'" class="form-group">&ndash;&gt;-->
  <!--&lt;!&ndash;&lt;!&ndash;<label>Aktuelle Temperatur</label>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<input name="currentTemperature" ngModel required #first="ngModel" [value]="heatingData?.currentTemperature.measure_Double" placeholder="Temp. in Fahrenheit">&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<button>Eingaben bestätigen</button>-->
  <!--</form>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
  <!--<img src="../../assets/images/heating-logo.jpg" alt="" class="img-responsive"  style="height: 150px;">-->
  <!--</div>-->
  <!--</div>-->


  <!--&lt;!&ndash;<p>First name value: {{ first.value }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>First name valid: {{ first.valid }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>Form value: {{ f.value | json }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>Form valid: {{ f.valid }}</p>&ndash;&gt;-->
