<h1>Wetterstation</h1>

<div class="col-md-12">
  <div class="col-md-3">
    <p>Name:</p>
    <p>Hersteller</p>
    <p>Modell:</p>
    <p>Seriennummer:</p>
  </div>

    <div class="col-md-6">
      <p>{{x}}</p>
      <p>{{x}}</p>
      <p>{{x}}</p>
      <p>{{x}}</p>
    </div>

  <div class="col-md-3">
    <img src="../../assets/images/weatherstation-logo.jpg" alt="" class="img-responsive"  style="height: 100px;">
  </div>
</div>


<hr><hr><hr><hr>

<div class="col-md-12">
  <div class="col-md-2">
    {{x}} <p> {{x}}% </p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{x}}hPa</p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{x}}°C</p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{x}}l/m²</p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{x}}km/h</p>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-2">
    <h6>Luftfeucht.</h6>
  </div>
  <div class="col-md-2">
    <h6>Luftdruck</h6>
  </div>
  <div class="col-md-2">
    <h6>Außentemp.</h6>
  </div>
  <div class="col-md-2">
    <h6>Niederschlag</h6>
  </div>
  <div class="col-md-2">
    <h6>Windgeschwindigkeit</h6>
  </div>
</div>

