<h1>Heizung</h1>

<div class="col-md-12">
  <div class="col-md-3">
    <p>Name: </p>
    <p>Hersteller: </p>
    <p>Modell: </p>
    <p>Seriennummer:</p>
    <p>Temperatur:</p>
    <p>Modus:</p>
  </div>

  <div class="col-md-6">
    <p>{{heatingData?.genericName}}</p>
    <p>{{heatingData?.manufacturer.deviceManufacturer_String}}</p>
    <p>{{heatingData?.modelVariant.modelVariant_String}}</p>
    <p>{{heatingData?.serialnumber}}</p>
    <p>{{heatingData?.currentTemperature.measure_Double}} {{heatingData?.currentTemperature.unitOfMeasurement_String}}</p>
    <p>{{heatingData?.actionMode.actionMode_String}}</p>
  </div>

  <!--<button> Test GET Request </button>-->
  <!--<br>-->
  <!--<p>Output: {{getData}}</p>-->
  <!--<button>Test Post Request</button>-->
  <!--<br>-->
  <!--<p>Output: {{postData}}</p>-->


  <div class="col-md-3">
    <img src="../../assets/images/heating-logo.jpg" alt="" class="img-responsive"  style="height: 150px;">
  </div>
</div>
