<h1>Wetterstation</h1>

<div class="col-md-12">
  <div class="col-md-8">
    <p>Name: {{x}}</p>
    <p>Hersteller: {{x}}</p>
    <p>Modell: {{x}}</p>
    <p>Seriennummer: {{x}}</p>
  </div>

  <div class="col-md-4">
    <br>
    <img src="../../assets/images/weatherstation-logo.jpg" alt="" class="img-responsive"  style="height: 100px;">
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-3">
    {{x}} <p> °C</p>
  </div>
  <div class="col-md-3">
    {{x}} <p> hPa</p>
  </div>
  <div class="col-md-3">
    {{x}} <p> l/m²</p>
  </div>
  <div class="col-md-3">
    {{x}} <p> km/h</p>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-3">
    <h6>Temperatur</h6>
  </div>
  <div class="col-md-3">
    <h6>Luftdruck</h6>
  </div>
  <div class="col-md-3">
    <h6>Niederschlag</h6>
  </div>
  <div class="col-md-3">
    <h6>Windgeschwindigkeit</h6>
  </div>
</div>

