<h1>Thermometer</h1>

<div class="col-md-12">
  <div class="col-md-3">
    <p>Name:</p>
    <p>Hersteller:</p>
    <p>Modell:</p>
    <p>Seriennummer:</p>
    <p>Temperatur:</p>
  </div>

  <div class="col-md-6">
    <p>{{thermometerData?.genericName}}</p>
    <p>{{thermometerData?.manufacturer.deviceManufacturer_String}}</p>
    <p>{{thermometerData?.modelVariant.modelVariant_String}}</p>
    <p>{{thermometerData?.serialnumber}}</p>
    <p>{{thermometerData?.temperature}} {{thermometerData?.actionMode.actionMode_String}}</p>
  </div>

  <div class="col-md-3">
    <img src="../../assets/images/thermometer-logo.png" alt="" class="img-responsive"  style="height: 150px;">
  </div>
</div>
