<h1>Wetterstation</h1>

<div class="col-md-12">
  <div class="col-md-3">
    <p>Name:</p>
    <p>Hersteller</p>
    <p>Modell:</p>
    <p>Seriennummer:</p>
    <p>Modus:</p>
  </div>

    <div class="col-md-6">
      <p>{{weatherstationData?.genericName}}</p>
      <p>{{weatherstationData?.manufacturer.deviceMAnufacturer_String}}</p>
      <p>{{weatherstationData?.modelVariant.modelVariant_String}}</p>
      <p>{{weatherstationData?.serialnumber}}</p>
      <p>{{weatherstationData?.actionMode.actionMode_String}}</p>
    </div>

  <div class="col-md-3">
    <img src="../../assets/images/weatherstation-logo.jpg" alt="" class="img-responsive"  style="height: 100px;">
  </div>
</div>


<hr><hr><hr><hr>

<div class="col-md-12">
  <div class="col-md-2">
    {{x}} <p> {{weatherstationData?.airHumidity}}% </p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{weatherstationData?.airpressure}}hPa</p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{weatherstationData?.temperature}}°C</p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{weatherstationData?.rainfallAmount}}l/m²</p>
  </div>
  <div class="col-md-2">
    {{x}} <p> {{weatherstationData?.windVelocity}}km/h</p>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-2">
    <h6>Luftfeucht.</h6>
  </div>
  <div class="col-md-2">
    <h6>Luftdruck</h6>
  </div>
  <div class="col-md-2">
    <h6>Außentemp.</h6>
  </div>
  <div class="col-md-2">
    <h6>Niederschlag</h6>
  </div>
  <div class="col-md-2">
    <h6>Windgeschwindigkeit</h6>
  </div>
</div>

