<h1>Rollläden</h1>

<div class="col-md-12">
  <div class="col-md-3">
    <p>Name: {{x}}</p>
    <p>Hersteller: {{x}}</p>
    <p>Modell: {{x}}</p>
    <p>Seriennummer: {{x}}</p>
    <p>Position: {{x}}</p>
  </div>

  <div class="col-md-2">
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
      <p>Position</p>
      <div class="col-md-1">
        <img src="../../assets/images/shutter-arrow-up.png" alt="" class="img-responsive"  style="height: 20px;">
        <img src="../../assets/images/shutter-arrows-up.png" alt="" class="img-responsive"  style="height: 20px;">
      </div>
      <div class="col-md-1">
        <img src="../../assets/images/shutter-arrow-down.png" alt="" class="img-responsive"  style="height: 20px;">
        <img src="../../assets/images/shutter-arrows-down.png" alt="" class="img-responsive"  style="height: 20px;">
      </div>
    </div>


  <div class="col-md-2">
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
  </div>
  <div class="col-md-2">
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
  </div>


  <div class="col-md-3">
    <br>
    <img src="../../assets/images/shutter-logo.jpg" alt="" class="img-responsive"  style="height: 100px;">
  </div>
</div>
