<h1>Heizung</h1>

<div class="col-md-12">
  <div class="col-md-3">
    <p>Name: </p>
    <p>Hersteller: </p>
    <p>Modell: </p>
    <p>Seriennummer:</p>
    <p>Zustand:</p>
    <p>Modus:</p>
    <p>Temperatur:</p>
  </div>

  <div class="col-md-6">
    <p>{{heatingData?.genericName}}</p>
    <p>{{heatingData?.manufacturer.deviceManufacturer_String}}</p>
    <p>{{heatingData?.modelVariant.modelVariant_String}}</p>
    <p>{{heatingData?.serialnumber}}</p>
    <p>{{heatingData?.powerState.powerState_String}}</p>
    <p>{{heatingData?.actionMode.actionMode_String}}</p>
    <p>{{heatingData?.currentTemperature.measure_Double}} {{heatingData?.currentTemperature.unitOfMeasurement_String}}</p>
  </div>

  <div class="col-md-3">
    <img src="../../assets/images/heating-logo.jpg" alt="" class="img-responsive"  style="height: 150px;">
  </div>
</div>
