<div class="container col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
  <h2> Thermometer anlegen / ändern </h2>
  <div class="col-md-4">
    <form novalidate (ngSubmit)="onSubmit(thermometer)" [formGroup]="thermometer">
      <div class="form-group">
        <p>Name des Thermometers:</p>
        <input type="text" placeholder="{{thermometerData?.genericName}}" formControlName="genericName">
      </div>
      <div class="form-group">
        <p>Hersteller:</p>
        <input type="text" placeholder="{{thermometerData?.manufacturer.deviceManufacturer_String}}" formControlName="manufacturer">
      </div>
      <div class="form-group">
        <p>Modell:</p>
        <input type="text" placeholder="{{thermometerData?.modelVariant.modelVariant_String}}" formControlName="modelVariant">
      </div>
      <div class="form-group">
        <p>Seriennummer:</p>
        <input type="text" placeholder="{{thermometerData?.serialnumber}}" formControlName="serialnumber">
      </div>

      <div>
        <button type="submit" (ngSubmit)="onSubmit()" [disabled]="thermometer.invalid">Eingaben bestätigen</button>
      </div>

    </form>

  </div>
  <div class="col-md-4">
  <img src="../../assets/images/thermometer-logo.png" alt="" class="img-responsive"  style="height: 150px;">
  </div>
</div>
