<div class="container">

  <div>
    <button class="btn btn-primary" (click)="toggleNewHeatingTemplateOpen()">
      Heizung anlegen / ändern
    </button>

    <button class="btn btn-primary" (click)="deleteHeating()">
      Heizung löschen
    </button>

    <div *ngIf="newHeatingTemplateOpen">
    <app-new-heating></app-new-heating>
    </div>
  </div>

  <br>

  <div>
    <button class="btn btn-primary" (click)="switchHeatingOn()">
      Heizung starten
    </button>
    <button class="btn btn-primary" (click)="switchHeatingOff()">
      Heizung ausschalten
    </button>
  </div>

  <br>

  <div>
    <button class="btn btn-primary" (click)='setTemperature(temperatureInput.value)'>
      Heizungstemperatur setzen
    </button>
    <input type="text" #temperatureInput>
  </div>
</div>



