<div class="container">

  <div>
    <button class="btn btn-primary" (click)="toggleNewHeatingTemplateOpen()">
      Heizung anlegen / ändern
    </button>

    <button class="btn btn-primary" (click)="deleteHeating()">
      Heizung löschen
    </button>

    <div *ngIf="newHeatingTemplateOpen">
    <app-new-heating></app-new-heating>
    </div>
  </div>

  <br>

  <div>
    <button class="btn btn-primary">
      Heizung starten
    </button>
    <button class="btn btn-primary">
      Heizung ausschalten
    </button>
  </div>

  <br>

  <div>
    <button class="btn btn-primary" (click)='setTemperature(temperatureInput.value)'>
      Heizungstemperatur setzen
    </button>

    <!--<input type="text" [(ngmodel)]="temperature"/>-->
    <input type="text" #temperatureInput>

  </div>


  <!--<form (ngSubmit)="editUser(f.value)" #f="ngForm">-->
    <!--<input ngControl="name" [(ngModel)]="heatingData.name" type="text">-->
    <!--<input ngControl="hersteller" [(ngModel)]="heatingData.manufacturer" type="text">-->

    <!--<button type="submit">Save</button>-->
  <!--</form>-->

</div>



