<header>
  <ul class="nav nav-pills">
    <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/heating']">Heating</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/shutter']">Shutter</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/thermometer']">Thermometer</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/weatherstation']">Weatherstation</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/settings']">Settings</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
  </ul>
</header>
<hr>
