<div class="container col-md-12">
  <button (click)="logHeatingData()">Log heatingData</button>
  <h2> Heizung anlegen / ändern </h2>
  <div class="col-md-4">
    <form novalidate (ngSubmit)="onSubmit(heating)" [formGroup]="heating">
      <div class="form-group">
        <p>Heizungsname:</p>
        <input type="text" placeholder="{{heatingData?.genericName}}" formControlName="genericName">
      </div>
      <div class="form-group">
        <p>Hersteller:</p>
        <input type="text" placeholder="{{heatingData?.manufacturer.deviceManufacturer_String}}" formControlName="manufacturer">
      </div>
      <div class="form-group">
        <p>Modell:</p>
        <input type="text" placeholder="{{heatingData?.modelVariant.modelVariant_String}}" formControlName="modelVariant">
      </div>
      <div class="form-group">
        <p>Seriennummer:</p>
        <input type="text" placeholder="{{heatingData?.serialnumber}}" formControlName="serialnumber">
      </div>

      <div>
        <button type="submit" (ngSubmit)="onSubmit()" [disabled]="heating.invalid">Eingaben bestätigen</button>
      </div>

    </form>

  </div>
  <div class="col-md-4">
  <img src="../../assets/images/heating-logo.jpg" alt="" class="img-responsive"  style="height: 150px;">
  </div>
</div>
