<div class="container">
  <div class="jumbotron" align="center">
    <h1>Dashboard</h1>
    <h2>SmartHomeClient</h2>
  </div>


<div class="panel panel-primary">


  <div class="panel-heading" align="center">
    Geräteverwaltung
  </div>
  <div class="panel-body">

      <div class="col-md-12">
        <div class="col-md-6 panel panel-default" style="height: 300px">
            <app-dashboard-heating></app-dashboard-heating>
        </div>

        <div class="col-md-6 panel panel-default" style="height: 300px">
          <app-dashboard-shutter></app-dashboard-shutter>
        </div>
      </div>

      <div class="col-md-12">
        <div class="col-md-6 panel panel-default" style="height: 300px">
          <app-dashboard-thermometer></app-dashboard-thermometer>
          </div>

        <div class="col-md-6 panel panel-default" style="height: 300px">
          <app-dashboard-weatherstation></app-dashboard-weatherstation>
          </div>
        </div>

    </div>

  </div>
</div>

