
<div class="container">
  <div class="jumbotron">
    <h1>Dashboard</h1>
    <h2>SmartHomeClient</h2>
  </div>


<div class="panel panel-primary">
  <div class="panel-heading">
    Geräteverwaltung
  </div>
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-body">Look, I'm in a panel!</div>
    </div>


      <div class="col-md-12">
        <div class="col-md-6">
          <div class="panel panel-default">
            <app-dashboard-heating></app-dashboard-heating>
        </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
          <app-dashboard-shutter></app-dashboard-shutter>
          </div>
        </div>
      </div>

    <div class="col-md-12">
      <div class="col-md-6">
        <div class="panel panel-default">
        <app-dashboard-thermometer></app-dashboard-thermometer>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
        <app-dashboard-weatherstation></app-dashboard-weatherstation>
        </div>
      </div>

    </div>

  </div>
</div>


</div>
