<div class="container">

  <div>
    <button class="btn btn-primary">
      Wetterstation anlegen
    </button>
    <button class="btn btn-primary">
      Wetterstation löschen
    </button>
  </div>

  <br>

  <div>
    <button class="btn btn-primary">
      Luftfeuchtigkeit einstellen
    </button>

    <button class="btn btn-primary">
      Luftdruck einstellen
    </button>

    <button class="btn btn-primary">
      Windgeschwindigkeit einstellen
    </button>

    <button class="btn btn-primary">
      Außentemperatur einstellen
    </button>

    <button class="btn btn-primary">
      Niederschlag einstellen
    </button>
  </div>


</div>
