<div class="container">

  <div>
    <button class="btn btn-primary">
      Rollladen anlegen
    </button>
    <button class="btn btn-primary">
      Rollladen löschen
    </button>
  </div>

  <br>

  <div>
    <button class="btn btn-primary">
      Alle Rollladen hochfahren
    </button>

    <button class="btn btn-primary">
      Alle Rollladen herunterfahren
    </button>
  </div>

  <br>

  <div>
    <button class="btn btn-primary">
      Rollladen hochfahren
    </button>

    <button class="btn btn-primary">
      Rollladen herunterfahren
    </button>
  </div>

  <br>

  <div>
    <button class="btn btn-primary">
      Rollladenhöhe setzen
    </button>
  </div>

</div>
